<!-- header -->
<header id="header" style="padding-top: 104px;">
  <div class="container h-100 d-flex align-items-center carousel-inner">
    <div class="text-center carousel-item active">
      <h5 class="text-capitalize text-white ">Get IN TOUCH</h5>
      <h1 class="text-uppercase py-2 fw-bold text-white ">Contact </h1>

    </div>
  </div>
</header>
<!-- end of header -->

<!-- contact us start  -->
<h5 class="text-center my-5">Where are we situated ?</h5>
<div class="container-fluid my-5 d-flex justify-content-center map-color">
  <div class="map">
  </div>
</div>
<!-- contact us end -->


<!-- form -->
<div class="container .container-form mb-5">
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text"> Contact us with the following details. and fillup the form with the details. </p>
      <div class="info">
        <div class="social-information"> <i class="fa fa-map-marker"></i>
          <p>4th Floor, Silverstream House
            45 Fitzroy Street,<br> Fitzrovia
            London
            W1T 6EB</p>
        </div>
        <div class="social-information"> <i class="fa fa-envelope-o"></i>
          <p>hello@sweetumbrella.co.uk</p>
        </div>
        <div class="social-information"> <i class="fa fa-mobile-phone"></i>
          <p>+1 989 989 9898 </p>
        </div>
      </div>
      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons"> <a href="https://twitter.com/Sweett_umbrella" target="_blank"> <i
              class="fa fa-twitter"></i> </a> <a href="https://instagram.com/sweett_umbrella?igshid=YmMyMTA2M2Y="
            target="_blank"> <i class="fa fa-instagram"></i> </a> <a> <i class="fa fa-linkedin"></i> </a> </div>
      </div>
    </div>
    <div class="contact-info-form"> <span class="circle one"></span> <span class="circle two"></span>
      <div class="alert alert-light mt-5" role="alert" *ngIf="showResponse">
        {{responseMessage}}
      </div>
      <form [formGroup]="formModel" (ngSubmit)="submitForm()">
        <h3 class="title">Contact us</h3>
        <div class="social-input-containers">
          <input type="text" name="name" class="input" placeholder="Name" formControlName="firstName" />
        </div>
        <span>
          <div class="error  text-light"
            *ngIf="formModel.controls['firstName'].invalid && (formModel.controls['firstName'].dirty || formModel.controls['firstName'].touched)">
            <span *ngIf="(formModel.controls['firstName'].errors.pattern)">
              Only Alphabest Allowed !!</span>
            <span *ngIf="formModel.controls['firstName'].errors.required">
              <small>Field Required!</small>
            </span>
          </div>
        </span>
        <div class="social-input-containers">
          <input type="email" name="email" class="input" placeholder="Email" formControlName="emailAddress" />
        </div>
        <span>
          <div class="error  text-light"
            *ngIf="formModel.controls['emailAddress'].invalid && (formModel.controls['emailAddress'].dirty || formModel.controls['emailAddress'].touched)">
            <span *ngIf="formModel.controls['emailAddress'].errors.email">
              <small>Use correct pattern as example@example.com</small></span>
            <span *ngIf="formModel.controls['emailAddress'].errors.required">
              <small>Field Required!</small>
            </span>
          </div>
        </span>
        <div class="social-input-containers">
          <input type="text" name="subject" class="input" placeholder="Subject" formControlName="subject" />
        </div>
        <span>
          <div class="error  text-light"
            *ngIf="formModel.controls['subject'].invalid && (formModel.controls['subject'].dirty || formModel.controls['subject'].touched)">
            <span *ngIf="formModel.controls['subject'].errors.maxlength ">
              <small>Subject should not more than 20 characters</small></span>
            <span *ngIf="formModel.controls['subject'].errors.required">
              <small>Field Required!</small>
            </span>
          </div>
        </span>
        <div class="social-input-containers d-flex">
          <img src="../../../../assets/uk.png" class="uk-flag mx-1 my-2">
          <input type="tel" name="phone" class="input" placeholder="Phone" formControlName="phone" />
        </div>
        <span>
          <div class="error  text-light"
            *ngIf="formModel.controls['phone'].invalid && (formModel.controls['phone'].dirty || formModel.controls['phone'].touched)">
            <span *ngIf="(formModel.controls['phone'].errors.pattern)">
              Phone Number should be numeric</span>
            <span *ngIf="formModel.controls['phone'].errors.minlength || formModel.controls['phone'].errors.maxlength ">
              <small>Phone number must be at least 10 numbers</small></span>
            <span *ngIf="formModel.controls['phone'].errors.required">
              <small>Field Required!</small>
            </span>
          </div>
        </span>
        <div class="social-input-containers textarea">
          <textarea name="message" class="input" placeholder="Message" formControlName="message"></textarea>
        </div>
        <span>
          <div class="error  text-light"
            *ngIf="formModel.controls['message'].invalid && (formModel.controls['message'].dirty || formModel.controls['message'].touched)">
            <span *ngIf="formModel.controls['message'].errors.maxlength ">
              <small>Message should not more than 500 characters</small></span>
            <span *ngIf="formModel.controls['subject'].errors.required">
              <small>Field Required!</small>
            </span>
          </div>
        </span>
        <button type="submit" class="btn btn-outline-light w-100" [disabled]="formModel.pristine || formModel.invalid">
          Submit Form 
          <div class="spinner-border" role="status" *ngIf="showSpinner">
              <span class="visually-hidden">Loading...</span>
            </div>
      </button>
      </form>
    </div>
  </div>
</div>
<!-- form -->