<div class="navHeroBar">
    <nav class="navbar navbar-expand-lg navbar-dark  px-0 py-3">
        <div class="container-xl max-w-screen-xl">
            <!-- Logo -->
            <a class="navbar-brand" >
                <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
            </a>
            <!-- Navbar toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Nav -->
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="dropdown-item" routerLink="/agency" >Agency</a></li>
                          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="dropdown-item" routerLink="/paye-umbrella" >Paye Umbrella</a></li>
                        </ul>
                      </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink="about-us" >About Us</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink="contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink="start-contracting">Start Contracting</a>
                    </li>
                </ul>
                <!-- Right navigation -->
                <div class="navbar-nav ms-lg-4">
                    <a class="nav-item nav-link" >Login</a>
                </div>
                <!-- Action -->
            </div>
        </div>
    </nav>
    
    
    <div class="pt-10 pt-md-24 ">
        <div class="container-xl max-w-screen-xl">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xl-8 text-md-center">
                    <div>
                        <h3 class="ls-tight font-bolder display-3 text-white mb-7 text-center">
                            Genius Pay Umbrella
                        </h3>
                        <div class="d-flex justify-content-center">
                            <button  class="btn btn-outline-light btn-lg mx-2">CONTRACTORS</button>
                            <button class="btn btn-outline-dark btn-lg mx-2">
                                AGENCIES<span class="ms-2">-&gt;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-10 mt-md-24">
                <div class="col-lg-12 text-lg-center mb-n20 mb-md-n40 position-relative overlap-10">
                    <div class="draw-container">
                        <div class="draw">
                        <!-- Rocket -->
                            <div class="rocket">
                                <div class="window"></div>
                            </div>
                        
                        <!-- Smoke -->
                            <div class="smoke">
                                <div class="one"></div>
                                <div class="two"></div>
                            </div>
                    
                        <!-- Stars -->
                            <div class="stars">
                                <div class="star one"></div>
                                <div class="star two small"></div>
                                <div class="star three small"></div>
                                <div class="star four small"></div>
                                <div class="star five"></div>
                                <div class="star six samll"></div>
                                <div class="star seven"></div>
                                <div class="star eight small"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>