<section id="one" class="one text-center" data-color="#F2C744">
  <h1 class="text-center">Payroll Solutions that keep Business moving</h1>
</section>
<section id="two" class="two" data-color="#202020">
  <div
    class="container text-center d-flex align-items-center justify-content-center"
  >
    <strong>ABOUT US</strong>
    <h2 class="mt-5 mb-5">
      We offer payroll solutions to businesses and contractors.
    </h2>
    <p>
      Sweet Umbrella provides professional assistance and advice to
      organisations seeking to grow their manpower, while our umbrella solutions
      provide contractors with the extensibility and confidentiality of a
      full-time employee. Our customised method guarantees that you are paid on
      the same day, that your tax plans are managed skilfully, and, the more
      importantly, that you have no company role and responsibility, enabling
      you to enjoy your contracting and spare time.
    </p>
    <div class="progresses d-flex align-items-center justify-content-between">
      <div class="card p-2">
        <div class="progress" style="width: 90%"></div>
        <div class="content mt-2">
          <h4>Compelince</h4>
          <p>Card which uses the background colour to show progress.</p>
          <p class="percentage">100%</p>
        </div>
      </div>
      <div class="card p-2">
        <div class="progress" style="width: 70%"></div>
        <div class="content mt-2">
          <h4>Speed</h4>
          <p>Card which uses the background colour to show progress.</p>
          <p class="percentage">100%</p>
        </div>
      </div>
      <div class="card p-2">
        <div class="progress" style="width: 70%"></div>
        <div class="content mt-2">
          <h4>Informative</h4>
          <p>Card which uses the background colour to show progress.</p>
          <p class="percentage">100%</p>
        </div>
      </div>
      <div class="card p-2">
        <div class="progress" style="width: 70%"></div>
        <div class="content mt-2">
          <h4>Customer Support</h4>
          <p>Card which uses the background colour to show progress.</p>
          <p class="percentage">100%</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="three" class="three" data-color="#fff">
  <div class="container d-flex align-items-center justify-content-center p-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <strong class="text-center">BENEFITS</strong>
        <h2 class="text-center">Why Join Our Team?</h2>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 mb-3 p-3">
            <div class="card p-2">
              <div class="content mt-2">
                <h5>Flexibilty</h5>
                <p>Contracting allows you to work when and how you want.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mb-3 p-3">
            <div class="card p-2">
              <div class="content mt-2">
                <h5>Hassle Free Tax</h5>
                <p>
                  There is nothing to worry about as everything we do compliance
                  under UK laws and regulations.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 mb-3 p-3">
            <div class="card p-2">
              <div class="content mt-2">
                <h5>Full Protection</h5>
                <p>
                  Umbrella services provides you with the security of a
                  full-time employee.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 mb-3 p-3">
            <div class="card p-2">
              <div class="content mt-2">
                <h5>Quick Payments</h5>
                <p>Get paid weekly and in a way that works for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid w-75 rounded"
          src="../../assets/imgs/sideimg.jpg"
        />
      </div>
    </div>
  </div>
</section>
<section id="four" class="four" data-color="#F2C744">
  <div class="container d-flex align-items-center justify-content-center p-5">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid w-75 rounded"
          src="../../assets/imgs/sideimg.jpg"
        />
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center"
      >
        <strong class="text-center">Our Services</strong>
        <h2 class="text-center mb-5">Make the most of your money.</h2>
        <p>
          Sweet Umbrella Ltd offer expert assistance and advice to help the
          company grow, and we are here to support you as you broaden, no matter
          what hurdles arise.
        </p>
        <p>
          Our umbrella company solution allows you to sign an agreement while
          ensuring employee security. Our customised approach guarantees that
          you are paid within the same day, that your tax liabilities are
          encountered properly, and, most importantly, that you are free of
          company duties, allowing you to concentrate on contracts and spare
          time.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom border-dark pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-dark">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-dark">Services</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-dark">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-dark">Contact</a>
      </li>
      <li class="nav-item">
        <a
          style="cursor: pointer"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="nav-link px-2 text-dark"
          >Terms and Conditions</a
        >
      </li>
      <li class="nav-item">
        <a
          style="cursor: pointer"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
          class="nav-link text-dark px-2"
          >Privacy Policy</a
        >
      </li>
    </ul>
    <p class="text-center text-dark fw-bold">&copy; 2022 Bees Umbrella</p>
  </footer>
</div>

<!-- Terms and Conditions Modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Terms and Conditions
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Terms And Conditions</h1>
        <p>
          Thank you for your interest in Sweet Umbrella Ltd. The Sweet Umbrella
          website is made available to you on the condition that you comply with
          the terms and conditions set forth below. Please carefully read this
          document before accessing or using the Sweet Umbrella website. You
          agree to be bound by the Terms and Conditions by accessing or using
          this website. You may not access or use the website if you do not
          agree to be bound by the Terms and Conditions.
        </p>
        <p>
          Modification of the Terms and Conditions Sweet Umbrella reserves the
          right to change the terms and conditions and notices at any time, and
          such modifications will take effect instantly upon posting. You are
          therefore responsible for reviewing these Terms and Conditions as well
          as any additional terms or notices posted on the Sweet Umbrella
          website on a regular basis. Your continued use of this website
          constitutes your unconditional acceptance of the modified agreemen
        </p>
        <p>
          Privacy Sweet Umbrella is completely committed to safeguarding your
          privacy. Please read our Privacy Policy, which also governs your visit
          to sweetumbrella.co.uk, to understand how we use and disclose your
          personal information.
        </p>
        <p>
          Electronic CommunicationsYou are communicating with us electronically
          when you visit Sweet Umbrella or send e-mails to us, and you consent
          to receive communications from us electronically or by other means
          available. We will communicate with you via email, phone, or
          facsimile. It is also understood that all agreements, notices,
          disclosures, and other communications provided to you electronically
          meet any legal requirement that such communication be in writing.
        </p>
        <p>
          Copyright and Licenses The entire contents of this website, including
          but not limited to: Text, graphics, logos, button icons, Flash movies,
          images, audio clips, digital downloads, data compilations, and
          software, are the property of Sweet Umbrella, its content suppliers or
          its clients and are protected by Domestic and International copyright
          and trademark laws. You may not modify, copy, reproduce, republish,
          upload, post, transmit, or distribute any portion of the website
          contents without the prior express written consent of Sweet Umbrella.
          You may print or download portions of the materials from various areas
          of this website solely for your own non-commercial use provided that
          you agree not to change or delete any copyright or proprietary notices
          from the materials. If you believe any content appearing on our
          website constitutes a copyright infringement of another parties
          rights, please contact us immediately at hello@sweet umbrella.co.uk to
          notify us of this infringement.
        </p>
        <p>
          License and Website Access Sweet Umbrella grants you limited license
          to access and make personal use of this website and not to download
          (other than for page caching purposes) or modify it, or any portion of
          it, except with the express written consent of Sweet Umbrella. This
          website or any portion of this website may not be reproduced,
          duplicated, adapted, copied, sold, resold, transmitted or otherwise
          exploited for any commercial purpose without the express written
          consent of Sweet Umbrella. You may not frame, or use any framing
          techniques to enclose any trademark, logo, or other proprietary
          information (including images, text, flash movie, page layout, or
          form) of Sweet Umbrella without the express written consent of Sweet
          Umbrella. You may not use META tags or any other “hidden text” which
          utilise Sweet Umbrella or any other derivative of our domain or
          company name without the express written consent of Sweet Umbrella.
          You are hereby granted a limited, revocable, and nonexclusive right to
          create a hyperlink to the home page of Sweet Umbrella so long as the
          link does not portray any false, misleading, derogatory, or otherwise
          offensive matter. It is further understood and agreed that Sweet
          Umbrella cannot and does not guarantee or warrant that files made
          available for downloading through Sweet Umbrella website will be free
          of infection or viruses, worms, Trojan horses or other code that
          manifests contaminating or destructive properties. It is your
          responsibility for implementing sufficient safeguards and procedures
          to ensure that any files obtained through Sweet Umbrella are free from
          such contaminations. You are welcome to use our online facilities to
          store and access electronic copies of bank statements, timesheets etc.
          By agreeing to these Terms and Conditions you accept that Sweet
          Umbrella cannot be held liable for any loss of information how so ever
          caused. You must not upload any files which contain malicious or
          illegal material, or any material likely to cause offence or capable
          of causing damage to the servers. Failure to adhere to these
          conditions will result in immediate suspension of service, removal and
          destruction of the files.
        </p>
        <h3 class="text-center">Disclaimer</h3>
        <p>
          of Warranty/Limitation of Liability THIS WEBSITE AND RELATED
          INFORMATION IS PROVIDED BY Sweet Umbrella ON AN “AS IS” AND “AS
          AVAILABLE” BASIS. Sweet Umbrella MAKES NO EXPRESS OR IMPLIED
          WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS OF ANY KIND, OR AS TO THE
          OPERATION OF THIS WEBSITE OR THE INFORMATION, CONTENT, MATERIALS, OR
          PRODUCTS INCLUDED ON THIS WEBSITE. YOU EXPRESSLY AGREE THAT YOUR USE
          OF THIS WEBSITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE
          BY APPLICABLE LAW, Sweet Umbrella DISCLAIMS ALL WARRANTIES, EXPRESS OR
          IMPLIED, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF
          MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Sweet Umbrella
          DOES NOT WARRANT THAT THIS WEBSITE, ITS SERVERS, OR E-MAIL SENT FROM
          Sweet Umbrella ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Sweet
          Umbrella WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM
          THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT,
          INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. Sweet Umbrella USES
          REASONABLE EFFORTS TO INCLUDE ACCURATE AND UP-TO-DATE INFORMATION ON
          THIS WEBSITE. Sweet Umbrella ASSUMES NO LIABILITY OR RESPONSIBILITY
          FOR ANY TYPOGRAPHICAL OR OTHER ERRORS OR OMISSIONS IN THE CONTENT OF
          THIS SITE. IN THE EVENT THAT A PRODUCT IS LISTED AT AN INCORRECT PRICE
          OR WITH OTHER INCORRECT INFORMATION, Sweet Umbrella SHALL HAVE THE
          RIGHT TO REFUSE OR CANCEL ANY ORDERS PLACED FOR THE PRODUCT LISTED
          INCORRECTLY. IF A PRODUCT OFFERED BY Sweet Umbrella IS NOT AS
          DESCRIBED, YOUR SOLE REMEDY IS TO RETURN IT TO Sweet Umbrella FOR A
          REFUND. ALL POSTAGE REQUIRED TO RETURN A PRODUCT WILL BE AT THE
          BUYER'S EXPENSE. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON
          IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.
          IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS,
          EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE
          ADDITIONAL RIGHTS.
        </p>
        <p>
          Third-Party Links Linked websites are not under the control of Sweet
          Umbrella is not responsible for the contents of any linked site or any
          link contained in a linked site. Sweet Umbrella provides links to you
          only as a convenience, and the inclusion of any link does not imply or
          constitute an endorsement by Sweet Umbrella of the site.
        </p>
        <p>
          Applicable Law By visiting Sweet Umbrella website, you agree that the
          laws of England and Wales will govern these Terms and Conditions and
          any dispute of any sort that might arise between you and Sweet
          Umbrella.
        </p>
        <p>
          Indemnification You agree to indemnify, defend and hold harmless Sweet
          Umbrella, its officers, directors, owners, partners, employees,
          agents, licensors, suppliers and any third party information provider
          to the website from and against all losses, expenses, damages and
          costs, including attorney's fees, resulting from any violation of
          these Terms and Conditions (including negligent or wrongful conduct)
          by you or your use and access of Sweet Umbrella website.
        </p>
        <p>
          Other Provisions Sweet Umbrella failure to insist upon or enforce
          strict performance of any provision of these Terms and Conditions
          shall not be construed as a waiver of any provision or right. Neither
          the course of conduct between the parties nor trade practice shall act
          to modify any provision of these Terms and Conditions. Sweet Umbrella
          may assign its rights and duties under these Terms and Conditions to
          any party at any time without notice to you. If any of these terms
          shall be deemed invalid, void, or for any reason unenforceable, that
          condition shall be deemed severable and shall not affect the validity
          or enforceability of any remaining condition. Any rights not expressly
          granted herein are reserved.
        </p>
        <p>
          Request Please send notices by care of e-mail to
          hello@sweetumbrella.co.uk
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Privacy Policy Modal-->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Privacy Policy</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Privacy Policy</h1>
        <h3>1 INTRODUCTION</h3>
        <p>
          1.1 We are committed to safeguarding the privacy of our website
          visitors and service users; in this policy, we explain how we will
          handle your personal data.
        </p>
        <p>
          1.2 By using our website and agreeing to this policy, you consent to
          our use of cookies in accordance with the terms of this policy.
        </p>
        <p>
          1.3 Our website incorporates privacy controls that affect how we will
          process your personal data. By using the privacy controls, you can
          specify whether you would like to receive direct marketing. You can
          change privacy settings by contacting us by phone or online request
          from within your account on our website.
        </p>
        <h3>2 HOW WE USE YOUR PERSONAL DATA</h3>
        <p>2.1 In Section 2 we have set out:</p>
        <p>(a) the general categories of personal data that we may process;</p>
        <p>
          (b) in the case of personal data that we did not obtain directly from
          you, the source and specific categories of that data;
        </p>
        <p>(c) the purposes for which we may process personal data; and</p>
      </div>
    </div>
  </div>
</div>
