<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col my-5">
                <h3>ABOUT US</h3>
                <p class="display-5">
                    We offer payroll solutions to businesses and contractors.
                </p>
                <p class="color myText">
                    <i class="fas fa-rocket"></i> Genius Pay Umbrella provides professional assistance and advice to organisations seeking to grow their manpower, while our umbrella solutions provide contractors with the extensibility and confidentiality of a full-time employee. Our customised method guarantees that you are paid on the same day, that your tax plans are managed skilfully, and, the more importantly, that you have no company role and responsibility, enabling you to enjoy your contracting and spare time.
                </p>
            </div>
            <div class="row my-5">
                <div class="col">
                    <label>Compelince</label>
                    <div class="progress ">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="col">
                    <label>Speed</label>
                    <div class="progress ">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <label>Informative</label>
                    <div class="progress ">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="col">
                    <label>Customer Support</label>
                    <div class="progress ">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
            </div>
            <div class="row my-5">
                <button class="btn btn-outline-info">More About</button>
            </div>
    </div>
</div>